body {
    padding: 0;
    margin: 0;
}

fieldset {
    border: none !important;
}

a {}

.main {
    width: 100%;
}

form {
    margin-top: 5px;
    margin-left: 5px;
}

fieldset {
    margin-bottom: 5px;
    border-color: #ffffff;
    border-width: 0px;
    border: none;
}

label {
    display: inline-block;
    width: 130px;
    text-align: right;
    vertical-align: middle;
    padding-right: 8px;
}

.contentDiv select {
    width: 150px;
}

.contentDiv input {
    width: 150px;
}

#info{
	width:90%;
	height:40px;
	margin:0 auto;
	background:#b5b5b5;
	line-height:40px;
	text-align: center;
	color:green;
	font-size:20px;
	display:none;
	
	
}
#state_info{
	width:90%;
	height:40px;
	margin:0 auto;
	background:#b5b5b5;
	line-height:40px;
	text-align: center;
	color:green;
	font-size:14px;
	display:none;
	
	
}

#photo{
	widht;60px;
	height:80px;
	position:relative;
	top:50px;

	float:right;
	margin-right:150px;
	margin-top:-50px;
}


.pagination-info {
    margin: 0 40px 0 0 !important;

}
.union-info{
	padding:20px;
	padding-left:50px;
}
.union-info ul{
	padding-left:10px;
	margin-button:10px;
}
.union-info li{
	list-style:none;
}

footer {
    position: relative;
    background: #a9facd;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

footer div {
    float: right;
    margin-right: 150px;
}


#download{
	width:80px;
	height:24px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #337ab7;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #2e6da4;
    color:#fff;
    font-size:16px;
    position:absolute;
    button:20px;
    right:40px;
}
#download:hover{
	    color: #fff;
    background-color: #286090;
    border-color: #204d74
}